name: build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 17 (for Gradle + Loom)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: "8.7"

      - name: Build
        run: gradle build --no-daemon


      # Чтобы jar можно было скачать кнопкой
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: liminaldoors-jar
          path: build/libs/*.jar
