name: build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 8
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "8"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build
        run: gradle build
